name: Validate
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      validationDir:
        description: 'The directory to be validated.'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  validate:
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Oxygen Validation Script
        uses: FloriNNic/ValidateScript@v1.0.6
        env:
          SCRIPTING_LICENSE_KEY: ${{secrets.SCRIPTING_LICENSE_KEY}}
        with:
          validationDir: ${{ github.event.inputs.validationDir }}
